body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 60vh;
    align-items: center;
    background-color: #000;
}

#piano {
    display: flex;
    position: absolute;
    height: 290px;
    padding: 40px 40px 20px 40px;
    background: linear-gradient(180deg, #C19A6C, #B37A5F, #A45A51);
    border-radius: 10px;
    bottom: 100px;
    margin-bottom: 7%;
    z-index: 1;
    box-shadow: 0px 0px 10px #fff;
}

.keys {
    position: relative;
}

.white-keys { 
    display: flex;
}
.black-keys {
    position: relative;
    display: flex;
}

.white-key {
    width: 68px;
    height: 280px;
    border-radius: 0 0 5px 5px;
    border: solid #515151 1.5px;
    box-sizing: border-box;
    background: linear-gradient(90deg, #FCFCFF, #F8F8FF, #F4F4FB, #EFEFF6, #d8d8df, #d5d5dc);
}
.black-key {
    width: 38px;
    height: 160px;
    background: linear-gradient(90deg, #0F0C08, #FEFEFE 3%, #221A03, #1D1703);
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    position: absolute;
}
.black-key:nth-child(1) {
    left: 48px; 
}
.black-key:nth-child(2) {
    left: 117px;
}
.black-key:nth-child(3) {
    left: 185px;
}
.black-key:nth-child(4) {
    left: 320px;
}
.black-key:nth-child(5) {
    left: 389px;
}
.black-key:nth-child(6) {
    left: 522px;
}
.black-key:nth-child(7) {
    left: 594px;
}
.black-key:nth-child(8) {
    left: 662px;
}
.black-key:nth-child(9) {
    left: 797px;
}
.black-key:nth-child(10) {
    left: 865px;
}

/* STARS */
@keyframes glow {
    0% {box-shadow: 0px 0px 11px 2px white;}
    25% {box-shadow: 0px 0px 13px 2.5px white;}
    50% {box-shadow: 0px 0px 15px 3px white;}
    75% {box-shadow: 0px 0px 17px 4px white;}
    100% {box-shadow: 0px 0px 19px 5px white;}
}
.sun {
    display: flex;
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(180deg, #A83B19, #D35A1E, #F27929, #F2982C, #FADD43);
    height: 80%;
    width: 40%;
    margin-right: 70%;
    margin-bottom: 30%;
    box-shadow: 0px 0px 50px orange;
}
.moon {
    display: flex;
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(300deg, #595956, #7c7c78, #8f8e89, #D0D0CA, #E0E0D5, #F0EFE2);
    height: 30%;
    width: 15%;
    margin-left: 50%;
    margin-bottom: 20%;
    box-shadow: 0px 0px 50px silver;
}
.planet-1 {
    display: flex;
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(160deg, #81BCBD, #4D9EB5, #55546E, #BFD18F, #EBDC98);
    height: 40%;
    width: 20%;
    margin-left: 75%;
    margin-top: 60%;
    box-shadow: 0px 0px 50px lightskyblue;
}
.planet-2 {
    display: flex;
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(45deg, #99857A, #C67B5C, #E27B58, #FF9D6F, #663926, #8E6A5A);
    height: 50%;
    width: 25%;
    margin-right: 80%;
    margin-top: 75%;
    box-shadow: 0px 0px 50px #AA4A44;
}
.star-1 {
    display: flex;
    position: absolute;
    border-radius: 100%;
    background-color: #fff;
    height: 2%;
    width: 1%;
    margin-top: 20%;
    margin-left: 90%;
    animation: glow 1s linear alternate infinite;
}
.star-2 {
    display: flex;
    position: absolute;
    border-radius: 100%;
    background-color: #fff;
    height: 3%;
    width: 1.5%;
    margin-top: 25%;
    margin-right: 80%;
    animation: glow 0.5s linear alternate infinite;
}
.star-3 {
    display: flex;
    position: absolute;
    border-radius: 100%;
    background-color: #fff;
    height: 1%;
    width: 0.5%;
    margin-top: 60%;
    margin-left: 10%;
    animation: glow 0.35s linear alternate infinite;
}
.star-4 {
    display: flex;
    position: absolute;
    border-radius: 100%;
    background-color: #fff;
    height: 0.5%;
    width: 0.25%;
    margin-top: 55%;
    margin-right: 40%;
    animation: glow 1.25s linear alternate infinite;
}
.star-5 {
    display: flex;
    position: absolute;
    border-radius: 100%;
    background-color: #fff;
    height: 0.8%;
    width: 0.4%;
    margin-top: 50%;
    margin-left: 30%;
    animation: glow 0.8s linear alternate infinite;
}
.star-6 {
    display: flex;
    position: absolute;
    border-radius: 100%;
    background-color: #fff;
    height: 1.5%;
    width: 0.75%;
    margin-top: 70%;
    margin-right: 20%;
    animation: glow 0.5s linear alternate infinite;
}
.star-7 {
    display: flex;
    position: absolute;
    border-radius: 100%;
    background-color: #fff;
    height: 1.2%;
    width: 0.6%;
    margin-bottom: 25%;
    margin-right: 10%;
    animation: glow 0.75s linear alternate infinite;
}
.star-8 {
    display: flex;
    position: absolute;
    border-radius: 100%;
    background-color: #fff;
    height: 1.6%;
    width: 0.8%;
    margin-bottom: 15%;
    margin-left: 15%;
    animation: glow 0.75s linear alternate infinite;
}
.star-9 {
    display: flex;
    position: absolute;
    border-radius: 100%;
    background-color: #fff;
    height: 3%;
    width: 1.5%;
    margin-bottom: 20%;
    margin-left: 95%;
    animation: glow 0.6s linear alternate infinite;
}
.star-10 {
    display: flex;
    position: absolute;
    border-radius: 100%;
    background-color: #fff;
    height: 0.6%;
    width: 0.3%;
    margin-top: 40%;
    margin-right: 90%;
    animation: glow 0.75s linear alternate infinite;
}


